<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!-- 进行Mybatis的相应的环境的属性定义 -->
    <settings>   <!-- 在本项目中开启二级缓存 -->
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.zcq.po.Role" alias="role"/>
        <!--        包扫描配置别名，配合@Alias注解使用-->
        <package name="com.zcq.po"/>
    </typeAliases>
    <typeHandlers>
        <typeHandler handler="com.zcq.handler.MyStringTypeHandler" javaType="string" jdbcType="VARCHAR"/>
<!--        识别默认枚举类型处理器-->
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.zcq.enums.Sex"/>
    </typeHandlers>
</configuration>